body{
    background-color: #1f1f2e;
}
.paper{
    width: 89.56vw;
    height: 98vh;
    margin-left: auto;  
    background-color: white;
}

.main{
    position: absolute;
    margin-left: 17vw;

}

img{
width:16.5vw;
    position: absolute;

}
.para1{
    font-size:1.4vw;
    float:left;
    position: absolute;
    float: left;
    text-indent: 3vw;
    word-spacing:0.35vw;
    line-height: 3.5vh;
    margin-left: 17vw;
    margin-top:4.5vw;
    margin-right: 2vw;
    text-align:justify;
    
}

img:hover{
    transform: scale(1.005);
}
