body{
    background-color: #1f1f2e;
}

.paper{
    width:60vw;
    height:120vh;
    background-color: white;
    margin: auto;
    margin-top:15vh;
    margin-bottom:15vh;
    border:1px solid black;
    border-top: 80px solid #ab001a;
  
}